@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #1E202A;
    /* font-family: 'Montserrat', sans-serif; */
}
/* styling for the navbar  */

.mobile-bar, .mobile-x {
    display: none;
}

nav {
    background-color: rgb(31, 33, 46);
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav ul {
    justify-content: space-between;
}

nav ul, nav ul div {
    display: flex;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.nav-list:hover {
    border-bottom: 2px solid white;
    padding-bottom: 0.5rem;
}

.logo-img  {
    margin-right: 20rem;
    cursor: pointer; 
}

.logo-img img {
    width: 6.313rem;
    height: 4.188rem;
}

.nav-list {
    margin-right: 2.5rem;
}
/* end of styling for the nav bar  */

/* styling for the top container  */

.top-container {
    width: 100%;
    background-image: url("/images/background2.jpg");
    background-size: cover;
    height: 39rem;
    /* padding: 9rem 9rem; */
}

.top-content {
    background-color: #1E202A;
    opacity: 0.9;
    width: inherit;
    height: 11;
    padding: 14rem 9rem;
    
}

.top-container .hello {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: white;
    font-weight: 400;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.top-container h1 {
    font-size: 4.5rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
}

.small-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: hsl(228, 12%, 44%);
}

.top-container button {
    padding: 0.8rem 1.4rem;
    background-color: #9B833E;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.top-container button a {
    color: white;
    font-size: 1.188rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.top-container button:hover {
    background-color: transparent;
    border-top: 2px solid #aa9554;
    border-bottom: 2px solid #aa9554;
    font-weight: bold;
    
}
/* end of styling for the top container  */

/* Styling for the about me section  */

.about-container {
    margin: 8rem 5rem;
}

.about-container h3, .services-container h3, .project-container h3, .skills-container h3, .review-container h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 2.5rem;
    color: #9B833E;
}

.img-and-text {
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    box-shadow: 0 4px 8px hsl(228, 12%, 44%, .3);
}

.paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.paragraph-container p {
    font-size: 1.2rem;
    color: rgb(252, 249, 249);
    font-family: 'Lato', sans-serif;
    line-height: 2.5rem;
    font-weight: 500;
    text-align: center;
}

.paragraph-container i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: rgb(252, 249, 249);
}
/* end of styling for about me  */

/* styling for services section  */

.services-container {
    margin: 0 5rem;
}

.service-flex, .skills-flex {
    display: flex;
    background-color:#252A41;
    padding: 2rem;
    border-radius: 1rem;
    /* box-shadow: 0 4px 8px hsl(228, 12%, 44%, .3); */
}

.service-flex h4, .skills-flex h4 {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    color: white;
}

.frontend-dev{
    margin-right: 8rem;
}

.frontend-dev ul {
    list-style: square;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    line-height: 2rem;
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}

.solidity-programming p {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}
/* end of styling for services section  */

/* styling for project section  */

.project-container {
    margin: 8rem 5rem;
}

.project {
    display: flex;
    background-color:#252A41;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 10rem;
    box-shadow: 0 4px 8px hsl(228, 12%, 44%, .3);
    margin-bottom: 3rem;
}

.project img {
    margin-right: 4rem;
}

.project h4 {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    color: rgb(228, 186, 186);
    margin-bottom: 1rem;
}

.project p {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    line-height: 2rem;
    color: white;
    margin-top: 0;
}

.project ul {
    display: flex;
    list-style: none;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.project ul li {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    color: #9B833E;
}

 .project .list {
    border-right: 2px solid #9B833E;
}

.git-site {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.project  i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #9B833E;
}

.project button {
    background-color: #9B833E;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    border: none;
    transition: 0.5s;
}

.project button a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.project button:hover {
    background-color: transparent;
    border-top: 2px solid #aa9554;
    border-bottom: 2px solid #aa9554;
    font-weight: lighter;
}
/* end of styling for the project section  */

/* styling for the skills section  */

.skills-container {
    margin: 0 5rem;
}

.programming-lang, .frameworks  {
    margin-right: 4rem;
    padding-right: 4rem;
    border-right: 2px solid  hsl(228, 12%, 44%);
}

/* rgb(228, 186, 186) */
.skills-flex {
    justify-content: center;
}

.skills-flex ul {
    list-style: square;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    line-height: 2rem;
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}
/* end of styling for skills section  */

/* styling for review section */

.review-container {
    margin: 8rem 5rem;
}

.review-flex {
    display: flex;
    justify-content: center;
}

.review-1, .review-2 {
    background-color:#252A41;
    padding: 2rem;
    border-radius: 1rem;
    width: 30%;
    /* box-shadow: 0 4px 8px hsl(228, 12%, 44%, .3); */
}

.review-1 {
    margin-right: 3rem;
}

.review-1 p, .review-2 p {
    font-size: 1.2rem;
    color: rgb(228, 186, 186);
    font-family: 'Lato', sans-serif;
    line-height: 2rem;
}

.review-1 small, .review-2 small {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
/* end of styling for review  */

/* styling for the call to action  */ 

.call-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20rem 8rem 20rem;
    background-color:#252A41;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px hsl(228, 12%, 44%, .3);
}

.call-container h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgb(228, 186, 186);
}

.call-container p {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 2.5rem;
    color: white;
    width: 60%;
    margin-top: 0;
}

.call-container button {
    background-color: #9B833E;
    border-radius: 0.3rem;
    border: none;
    padding: 0.5rem 2rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.call-container button a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1.124rem;
}

.call-container button:hover {
    background-color: transparent;
    border-top: 2px solid rgb(228, 186, 186);
    border-bottom: 2px solid rgb(228, 186, 186);
}
/* end of styling for the call container  */

/* styling for footer section  */

footer {
    background-color: #252A41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

footer p, footer small  {
    font-family: 'Lato', sans-serif;
    color: rgb(228, 186, 186);
    margin: 0;
}

footer i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: rgb(252, 249, 249);
}

footer i:hover {
    color: #9B833E;
}
/* end of footer styling */

/* styling for media responsiveness */
@media (max-width: 1170px) {
    .project {
        margin: 0 5rem 3rem 5rem;
    }
}

@media (max-width:11270px) {
    .call-container p {
        width: inherit;
    }
    
}

@media (max-width:1000px) {
    .nav ul li a {
        font-size: 0.8rem;
    }

    .logo-img  {
        margin-right: 15rem;
    }

    .top-container .hello {
        font-size: 1.2rem;
    }

    .top-container h1 {
        font-size: 4rem;   
    }

    .small-p {
        font-size: 1.2rem;
    }

    .top-container button {
        padding: 0.5rem 1rem;
    }

    .top-container button a {
        font-size: 1rem;
    }

    .project {
        margin: 0 0rem 3rem 0rem;
    }

    .project p {
        font-size: 1rem;
        line-height: 1.5rem; 
    }

    .project ul li {
        font-size: 0.8rem;
    }


    .service-flex h4, .skills-flex h4 {
        font-size: 1.2rem;
    }

    .frontend-dev{
        margin-right: 5rem;
    }

    .frontend-dev ul, .solidity-programming p {
        font-size: 0.8rem;
    }

    .skills-flex ul {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .programming-lang, .frameworks  {
        margin-right: 2rem;
        padding-right: 2rem;
    }

    .review-1 p, .review-2 p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .call-container {
        margin: 0 10rem 8rem 10rem;
    }

    .call-container p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

}

@media (max-width:900px) {
    .top-content {
        padding: 15rem 9rem;
    }

    .top-container .hello {
        font-size: 1rem;
    }

    .top-container h1 {
        font-size: 3rem;   
    }

    .small-p {
        font-size: 1rem;
    }

    .top-container button {
        padding: 0.3rem 0.8rem;
    }

    .project img {
        width: 17.75rem;
        height: 23.25rem;
    }

    .review-1, .review-2 {
        width: 50%;
    }

    .review-1 {
        margin-right: 1.5rem;
    }
    
    .review-1 p, .review-2 p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    footer i {
        font-size: 1rem;
        margin-right: 0.7rem;
    }
}

@media (max-width:893px) {
    .logo-img  {
        margin-right: 10rem;
    }

    .nav-list {
        margin-right: 1.5rem;
    }
}

@media (max-width:750px) {
    /* styling for the mobile nav  */
    .mobile-nav {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 10rem;
        z-index: 1;
        background-color:rgb(31, 33, 46);
    }

    .mobile-nav a {
        color: white;
        text-decoration: none;
        margin-bottom: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .nav-list {
       display: none;
    }

    .active.mobile-nav {
        visibility: hidden;
    }

    .active.mobile-bar {
        display: none;
    }

    .active.mobile-x {
        display: none;
    }

    .mobile-bar, .mobile-x {
        display: inline;
        margin-right: 2rem;
        font-size: 2rem;
        color: #9B833E;
        cursor: pointer;
    }
    /* end of styling for the mobile nav  */

    .project img {
        width: 12.75rem;
        height: 18.25rem;
    }

    .project  i {
        font-size: 1rem;
    }
    
    .project button {
        font-size: 0.8rem;
        padding: 0.3rem 0.8rem;
    }

}

@media (max-width:708px) {
    .paragraph-container p {
        font-size: 1rem;
    }

    .paragraph-container i {
        font-size: 1rem;

    }

    .service-flex, .skills-flex {
        display: block;
    }
    .frontend-dev{
        margin-right: 0;
    }

    .programming-lang, .frameworks  {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }

    .project img {
        width: 10.75rem;
        height: 16.25rem;
        margin-right: 2rem;
    }

    footer i {
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }

    footer {
        padding: 0.5rem 1rem;
    }
    
    footer p  {
        font-size: 0.7rem;
    }

    footer small {
        font-size: 0.5rem;
    }
    
}

@media (max-width:650px) {
    .about-container, .services-container, .project-container, .skills-container, .review-container {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .about-container h3, .services-container h3, .project-container h3, .skills-container h3, .review-container h3, .call-container h3 {
        font-size: 1.5rem;
    }

    .call-container {
        margin: 0 7rem 8rem 7rem;
    }
}

@media (max-width:535px) {
    .project {
        display: block;
    }
    
    .project img {
        width: 100%;
        margin: 0;
        height: 16.25rem;
    }

    .review-1, .review-2 {
        padding: 1rem;
    }

    .review-1 {
        margin-right: 1rem;
    }
}

@media (max-width:450px) {
    .top-content {
        padding: 15rem 6rem;
    }

    .top-container .hello {
        font-size: 1rem;
    }

    .top-container h1 {
        font-size: 3rem;   
    }

    .small-p {
        font-size: 1rem;
    }

    .top-container button {
        padding: 0.5rem 0.8rem;
    }

    .call-container {
        margin: 0 5rem 8rem 5rem;
        padding: 1rem;
    }

    .service-flex, .skills-flex, .project {
        padding: 1rem;
    }
    
}

@media (max-width:415px) {
    .top-content {
        padding: 17rem 3rem;
    }

    .top-container .hello {
        font-size: 0.7rem;
        letter-spacing: 0.3rem;
    }

    .top-container h1 {
        font-size: 2.5rem;   
    }

    .small-p {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }

    .top-container button a {
        font-size: 0.8rem;
    }

    .paragraph-container {
        padding: 1rem;
    }

    .call-container button {
        margin-top: 0.5rem;
    }

    .call-container button a {
        font-size: 0.8rem;
    }

    footer i {
        font-size: 0.5rem;
        margin-right: 0.2rem;
    }

    footer {
        padding: 0.5rem 1rem;
    }
    
    footer p  {
        font-size: 0.5rem;
    }

    footer small {
        font-size: 0.3rem;
    }


}

@media (max-width:400px) {
    .about-container, .services-container, .project-container, .skills-container, .review-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .call-container {
        margin: 0 3rem 8rem 3rem;
        padding: 1rem;
    }
}

